@using EntityLayer.Concrate;
@model List<Contact>

<div class="col-md-6" data-aos="fade-left" data-aos-delay="300">
    @foreach (var item in Model)
    {
        <div class="mt-3 px-1">
            <div class="h5">@item.Title</div>
            <p>@item.Description</p>
        </div>
        <div class="mt-53 px-1">
            <div class="row">
                <div class="col-sm-2">
                    <div class="pb-1">Mail:</div>
                </div>
                <div class="col-sm-10">
                    <div class="pb-1 fw-bolder">@item.Mail</div>
                </div>
                <div class="col-sm-2">
                    <div class="pb-1">Telefon:</div>
                </div>
                <div class="col-sm-10">
                    <div class="pb-1 fw-bolder">@item.Phone</div>
                </div>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d25308.213845194!2d36.9770964030722!3d37.542652157334366!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x152de702d9a80393%3A0xa55f9d376426b17a!2sKaracasu%20Karaziyaret%2C%2046090%20Dulkadiro%C4%9Flu%2FKahramanmara%C5%9F!5e0!3m2!1str!2str!4v1675177339065!5m2!1str!2str" width="600" height="312" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
        
    }
</div>